#rating {
  width: 800px;

  padding: 7px 0px 10px 0px;
}

#rating h2 {
  margin: 0;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #0f798d;
}

#ratingCount {
  margin: 0;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 21px;
  color: #0f798d;
}
