#price {
  width: 800px;
  border-top: solid 1px;
  border-bottom: solid 1px;
  padding: 7px 0px 56px 0px;
}

#price h1 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 45px;
  margin-bottom: 9px;
}

#price h2 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  margin-bottom: 1px;
}

#price p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
}
