.Searchproduct {
  display: flex;
  gap: 50px;
  width: 449px;
  height: 64px;
  background: #ffffff;
  border: 1px solid #f7aa35;
  border-radius: 12px;
}

.Searchproduct:focus-within {
  outline: 2px solid #f7aa35;
}

.Searchproduct div {
  margin-left: 18px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  color: rgba(30, 30, 30, 0.5);
  display: flex;
  align-items: center;
}

.Searchproduct button {
  width: 48px;
  height: 48px;
  background: #f7aa35;
  border-radius: 12px;
  border-style: none;
  align-self: center;
  cursor: pointer;
}

input {
  margin-left: 18px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  color: rgba(30, 30, 30, 0.5);
  display: flex;
  align-items: center;
  width: 300px;
  border: none;
  border: 0;
  outline: none;
}
