#productDetailsContainer {
  height: auto;
  display: flex;
  margin-bottom: 156px;
}

#productDetailsLeft {
  width: 30%;
}

#TitlePicture {
  margin: 83px 0px 0px 70px;
  width: 60%;
}

#productDetailsRight {
  width: 70%;
}

#DetailsProduct {
  margin: 83px 0px 20px;
}

.starsContainer {
  width: 88px;
  height: 20px;
  position: relative;
}

.cover {
  width: 100%;
  height: 100%;
  background-color: white;
  opacity: 0.8;
  position: absolute;
  right: 0;
}

.displayRow {
  display: flex;
  flex-direction: row;
  gap: 45px;
}

.starsContainer img {
  position: absolute;
  top: 0;
  left: 0;
  width: 88px;
}

.containerInformationsProduct {
  padding: 7px 0px 10px 0px;
  display: flex;
  align-items: center;
}
