#productContainer {
  width: 300px;
}
#productContainer h3 {
  font-size: 18px;
  margin: 12px 0px 12px 0px;
  font-weight: 500;
  width: 300px;
}

#productContainer p {
  font-size: 18px;
  margin-bottom: 24px;
  width: 196px;
  color: #c0c0c0;
  font-weight: 500;
}

#productContainer img {
  width: 300px;
  height: 363px;
}
#productContainer img:hover {
  transform: scale(1.1);
}
