* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.containerBestSelling {
  height: auto;
  width: 100vw;
  display: flex;

}

#divLeft {
  flex: 1;
}

#divRight {
  flex: 3;
}

#divRightProduct {
  display: flex;
  gap: 48px;
  margin-top: 48px;
  justify-content: space-evenly;

}

#divLeftProduct {
  margin-top: 47px;
  margin-left: 94px;
}
