#root{
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

body, html {
  overflow-x: hidden;
  height: 100%;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
