* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

footer {
  width: 100vw;
  height: 400px;
  background-color: #802c6e;
  display: flex;
}

#socialMediaAndDescription {
  width: 100%;
}

#footerLeft {
  margin-top: 48px;
  margin-left: 97.5px;
}

#moreInformations {
  width: 100%;
}

#footerRight {
  margin-top: 48px;
  margin-right: 97.5px;
  display: flex;
  gap: 48px;
  justify-content: flex-end;
}

/* Tablets Maiores */
@media (min-width: 768px) and (max-width: 1023px) {
  #footerLeft {
    margin-left: 20px;
  }
  #footerRight {
    margin-right: 20px;
  }
}

/* Tablets Menores */
@media (min-width: 481px) and (max-width: 767px) {
  #footerLeft {
    margin-left: 10px;
  }
  #footerRight {
    margin-right: 10px;
  }
  footer {
    display: flex;
    flex-wrap: wrap;
    height: auto;
  }
}

/* Smartphones */
@media (max-width: 480px) {
  #footerLeft {
    display: flex;
  }
  #footerRight {
    margin-right: 10px;
    margin-bottom: 20px;
    margin-top: 100px;
    flex-direction: column;
    width: auto;

  }
  footer {
    display: flex;
    flex-wrap: wrap;
    height: auto;
    
  }
}